@import url(https://fonts.googleapis.com/css?family=Raleway);

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html
{
	scroll-behavior: smooth;
}
body
{
	font-family: Raleway, segoe UI, sans-serif;
	overflow-x: auto;
}
#container
{
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	width: 100%;
}