#outer-border
{
	border: 1px solid lightgray;
	border-radius: 100%;
	height: 20rem;
	width: 20rem;
	margin: 2rem auto;
	display: flex;
	justify-content: center;
}
#main-border-wrapper
{
	height: 17rem;
	width: 17rem;
	align-self: center;
	display: flex;
	justify-content: center;
	position: relative;
}
.arcs-main
{
	border: white solid 5px;
	border-color: white white transparent transparent;
	height: 100%;
	width: 100%;
	border-radius: 100%;
	position: absolute;
	z-index: 5;
	left: 0px;
	top: 0px;
	transition: 1s linear;
}
#main-border-shadow
{
	border: darkorange solid 10px;
	border-color: darkorange darkorange transparent transparent;
	transform: rotate(45deg);
	height: 102%;
	width: 102%;
	border-radius: 100%;
	position: absolute;
	left: -3px;
	top: -3px;
}
#inner-border-wrapper
{
	height: 13rem;
	width: 13rem;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	position: relative;
}
.arcs-inner
{
	border: lightgray solid 1px;
	border-color: white white transparent transparent;
	height: 100%;
	width: 100%;
	border-radius: 100%;
	position: absolute;
	z-index: 5;
	left: -1px;
	top: -1px;
}
#inner-border-shadow
{
	border: darkorange solid 10px;
	border-color: darkorange darkorange transparent transparent;
	transform: rotate(45deg);
	height: 101%;
	width: 101%;
	border-radius: 100%;
	position: absolute;
	left: 3px;
	top: -1px;
}
#inner-border-wrapper #category-title
{
	align-self: center;
	font-weight: bold;
	font-size: 20px;
}
#inner-border-wrapper #category-value
{
	align-self: center;
	font-size: 50px;
	font-weight: 100;
	font-family: segoe UI, sans-serif;
}

@media (max-width: 860px)
{
	#outer-border
	{
		margin: 1rem auto 0;
	}
}